

@media (max-width: 500px) {
  .margin-home {
    margin-top: 42% !important;
  }
}


@media (max-width: 925px) {
  .tcl-carousel-v2__toggle-specs {
    gap: 15px;
  }
}

.bg-darks {
  position: relative;
}
.bg-darks:after {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  content: '';
}

.fallback-image-container img {
  display: block;
  height: auto;
  transition: opacity 1s ease;
  width: 100%;
}

.model-selector__input optgroup {
  text-align: center;
}
.model-selector__input optgroup option {
  text-align: left;
}