.image-full {
  left: 0;
}
.tds-container.footer-container {
  position: relative;
}
.df {
  display: flex;
  width: 100%;
  align-items: flex-start;
  background: #f4f4f4;
}
.inventory-app-wrapper.tds-scrim--white {
  padding-top: 20px;
}
.result-header {
  flex-wrap: nowrap;
}
.result.card:hover {
  .result-highlights-cta .result-cta-btns {
    opacity: 1;
  }

  .result-highlights-cta {
    opacity: 1;
  }
  .highlights-list {
    opacity: 0;
  }
}
.tds-modal-header {
  height: 35%;
}
.tds-modal-content {
  height: 53%;
  overflow: scroll;
}
.inventory-sidebar-wrapper.tds-scrim--light.mobile-none {
  height: auto;
}
@media (min-width: 600px) and (max-width: 899px) {
}
.inventory-content-wrapper.tds-scrim--light {
  min-height: 100vh;
}
.headerNav__phone:hover .modal-phone {
  z-index: 50;
}
.inventory-burst-app.inventory-search.tds-header-alternate.tesla-header-alternate.using-mouse.tds-site-header--stuck.hidden {
  display: block;
}
.filter-checkbox.tds-checkbox {
  input:checked {
    & + label {
      -webkit-box-shadow: 0 0 0 3px var(--tds-color--grey70), 0 0 0 6px #007fff;
      box-shadow: 0 0 0 3px var(--tds-color--grey70), 0 0 0 6px #007fff;
      
    }
  }
}
.result-cta-btns .tds-btn {
  pointer-events: all;
position: relative;
z-index: 999;
}

@media (max-width: 414px){
  .result-highlights-cta .result-cta-btns {
    position: relative;
    opacity: 0;
    pointer-events: all;
    padding-top: 0;
    right: auto;
    left: 0;
    top: auto;;
    margin-bottom: 32px;
    bottom: -80px;
  }
}