<!DOCTYPE html>
<html lang="en-us" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Страница не найдена</title>
        <meta name="description"
        content="Страница не найдена" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta id="viewport-tag" name="viewport" content="width=device-width, initial-scale=1" />
        <link type="image/x-icon" rel="shortcut icon" href="/img/fav/favicon.ico">
        <meta property="og:title"
        content="Страница не найдена" />
        <meta property="og:description"
        content="Страница не найдена" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://atr.ru/404" />
        <meta property="og:site_name" content="atr.ru" />
        <link rel="stylesheet" type="text/css" href="/timehome/timehome.css">

        <!-- <link rel="stylesheet" href="css/inventory/inventory6.css"> -->
        <script src="https://app.getreview.io/tags/ni2fvita3ZpqJCLO/sdk.js" async></script>
         

        <link type="text/css" rel="stylesheet" href="/css/error/error4.css" media="all" />

        <link rel="stylesheet" href="/css/main.css"> 
        <link rel="stylesheet" type="text/css" href="/css/filter.min.css?=5">
    </head>

    <body class="model">
        <header class="header">
        <div class="header__inner"><a class="header__logo logo" href="/"><img src="/img/logo.svg"
                    alt="Tesla by Autotraider"></a>
            <div class="headerNav hidden">
                <ul class="headerNav__list">
                    <li class="headerNav__item"><a class="headerNav__link" href="/models">Model S</a></li>
                    <li class="headerNav__item"><a class="headerNav__link" href="/model3">Model 3</a></li>
                    <li class="headerNav__item"><a class="headerNav__link" href="/modelx">Model X</a></li>
                    <li class="headerNav__item"><a class="headerNav__link" href="/modely">Model Y</a></li>
                    <li class="headerNav__item"><a class="headerNav__link" href="/cybertruck">Cybertruck</a></li>
                    <li class="headerNav__item"><a class="headerNav__link" href="/roadster">Roadster</a></li>
                </ul>
            </div>
            <div class="headerNav">
                <ul class="headerNav__list">
                    <li class="headerNav__item headerNav__phone"><span>+7 905 428 0000</span>
                        <div class="modal-phone">
                            <div class="modal-phone__wrapper"><a class="modal-phone__item"
                                    href="tel:+79054280000"><span>Позвонить</span>
                                    <svg class="svg-sprite-icon  icon-phone modal-phone__icon">
                                        <use xlink:href="/img/svg/sprite.svg#phone"></use>
                                    </svg></a></div>
                            <div class="modal-phone__wrapper"><a class="modal-phone__item"
                                    href="https://api.whatsapp.com/send/?phone=79054280000&amp;text=Меня_интересует_покупка_Tesla_у_вас_на_сайте&amp;type=phone_number&amp;app_absent=0"
                                    target="_blank"><span>WhatsApp</span>
                                    <svg class="svg-sprite-icon  icon-whatsapp modal-phone__icon">
                                        <use xlink:href="/img/svg/sprite.svg#whatsapp"></use>
                                    </svg></a></div>
                            <div class="modal-phone__wrapper"><a class="modal-phone__item"
                                    href="https://t.me/Khatskevich7" target="_blank"><span>Telegram</span>
                                    <svg class="svg-sprite-icon  icon-telegram modal-phone__icon">
                                        <use xlink:href="/img/svg/sprite.svg#telegram"></use>
                                    </svg></a></div>
                            <div class="modal-phone__wrapper">
                                <div class="modal-phone__item modal-phone__copy"><span>Скопировать номер</span>
                                    <svg class="svg-sprite-icon  icon-copy modal-phone__icon">
                                        <use xlink:href="/img/svg/sprite.svg#copy"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="headerNav__item headerNav__menu">Меню</li>
                </ul>
            </div>
            <div class="headerNav__backdrop"></div>
        </div>
    </header>

     

        <div id="page">
            <div class="content-constrain">
                <div class="pane-content-constrain">
                    <div id="tds-site-header-wrapper" class="tds-site-header-wrapper tcl-header" data-component-status="initialized">
                        <div class="tds-global-menu" id="tds-global-menu">
                             
                        </div>
                    </div>

                     

                    <aside id="system_messages" class="panel-panel">
                        <div class="container">
                            <div class="panel-pane pane-pane-messages">
                                <div class="pane-content">
                                    <div class="tabs"></div>
                                </div>
                            </div>
                        </div>
                    </aside>

                    <main role="main">
                        <div class="panel-panel">
                            <div class="panel-pane pane-page-content">
                                <div class="pane-content">
                                    <div class="panel-display">
                                        <section id="article_content" class="panel-panel">
                                            <div class="panel-pane pane-custom pane-1">
                                                <div class="pane-content">
                                                    <div class="error-container">
                                                        <div class="error-code">404</div>
                                                        <div class="error-text">Страница не найдена</div>

                                                         
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>

                 
            </div>
        </div>
        <div class="overlay"></div>
    <div class="modalMenu">
        <div class="modalMenu__close">
            <svg class="svg-sprite-icon  icon-close modalMenu__close-icon">
                <use xlink:href="/img/svg/sprite.svg#close"></use>
            </svg>
        </div>
        <ul class="modalMenu__list">
            <li class="modalMenu__item"><a class="modalMenu__link" href="/katalogavto">Авто в наличии</a></li>
            <li class="modalMenu__item hidden"><a class="modalMenu__link" href="/models">Model S</a></li>
            <li class="modalMenu__item hidden"><a class="modalMenu__link" href="/model3">Model 3</a></li>
            <li class="modalMenu__item hidden"><a class="modalMenu__link" href="/modelx">Model X</a></li>
            <li class="modalMenu__item hidden"><a class="modalMenu__link" href="/modely">Model Y</a></li>
            <li class="modalMenu__item hidden"><a class="modalMenu__link" href="/cybertruck">Cybertruck</a></li>
            <li class="modalMenu__item hidden"><a class="modalMenu__link" href="/roadster">Roadster</a></li>
            <li class="modalMenu__item hidden"><a class="modalMenu__link" href="/zaryadki">Зарядные устройства</a></li>
            <li class="modalMenu__item"><a class="modalMenu__link" href="/delivery">Доставка авто</a></li>
            <li class="modalMenu__item"><a class="modalMenu__link" href="/testdrive">Тест-драйв</a></li>
            <li class="modalMenu__item"><a class="modalMenu__link" href="/sravnenie">Сравнение моделей</a></li>
            <li class="modalMenu__item"><a class="modalMenu__link" href="/blog">Новости Tesla</a></li>
            <li class="modalMenu__item"><a class="modalMenu__link" href="/about">О нас</a></li>
        </ul>
    </div>

    <script src="/js/menu.js"></script>
    </body>
</html>