
<!DOCTYPE html>
<html lang="en-US" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

 

    <meta id="viewport-tag" name="viewport" content="width=device-width, initial-scale=1" />

 
    <meta name="description" content="Каталог автомобилей. Подберите для себя наилучший вариант вашей Tesla."/>

 
 

 
    <meta property="og:image" content="img/title/inventory.jpg" />
  
        <link rel="stylesheet" href="css/inventory/inventory.css">
        <link rel="stylesheet" href="css/inventory/inventory1.css">
        <link rel="stylesheet" href="css/inventory/inventory2.css">
        <link rel="stylesheet" href="css/inventory/inventory3.css">
        <link rel="stylesheet" href="css/inventory/inventory4.css">
        <link rel="stylesheet" href="css/inventory/inventory5.css">
        <link rel="stylesheet" type="text/css" href="css/inventory/slick.css"/>
        <link rel="stylesheet" href="css/main.css">
        <!-- <link rel="stylesheet" href="css/inventory/inventory6.css"> -->
     
        <title>Автомобили Tesla в наличии</title>

  
</head>
<body class="inventory-burst-app inventory-search tds-header-alternate tesla-header-alternate using-mouse tds-site-header--stuck">
    <header id="tds-site-header-wrapper" class="tds-site-header-wrapper">
        <div id="tds-global-menu">
            <header
                class="tds-site-header tds--fade-in"
                id="tds-site-header"
                style="
                    --tds-animate-backdrop-transition: opacity 0.5s ease, visibility 0s 0.5s;
                    --tds-animate-backdrop-opacity: 0;
                    --tds-animate-backdrop-visibility: hidden;
                    --tds-animate-backdrop-top: 11px;
                    --tds-animate-backdrop-left: 1139px;
                    --tds-animate-backdrop-height: 32px;
                    --tds-animate-backdrop-width: 72px;
                "
            >
                <div class="tds-animate--backdrop-backdrop"></div>
                <h1 class="tds-site-logo tds-align--start">
                    <a aria-label="Tesla Logo" class="tds-site-logo-link" href="/">
                        <svg class="tds-icon tds-icon-logo-wordmark tds-site-logo-icon" viewBox="0 0 342 35" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0 .1a9.7 9.7 0 007 7h11l.5.1v27.6h6.8V7.3L26 7h11a9.8 9.8 0 007-7H0zm238.6 0h-6.8v34.8H263a9.7 9.7 0 006-6.8h-30.3V0zm-52.3 6.8c3.6-1 6.6-3.8 7.4-6.9l-38.1.1v20.6h31.1v7.2h-24.4a13.6 13.6 0 00-8.7 7h39.9v-21h-31.2v-7h24zm116.2 28h6.7v-14h24.6v14h6.7v-21h-38zM85.3 7h26a9.6 9.6 0 007.1-7H78.3a9.6 9.6 0 007 7zm0 13.8h26a9.6 9.6 0 007.1-7H78.3a9.6 9.6 0 007 7zm0 14.1h26a9.6 9.6 0 007.1-7H78.3a9.6 9.6 0 007 7zM308.5 7h26a9.6 9.6 0 007-7h-40a9.6 9.6 0 007 7z"
                                fill="currentColor"
                            ></path>
                        </svg>
                        <span class="tds--is_visually_hidden">Tesla homepage</span>
                    </a>
                    <a class="tds-skip-to-content tds--is_visually_hidden" href="#main-content" id="top-of-page">Skip to main content</a>
                </h1>
                <ol class="tds-site-nav-items tds-align--center tds--product-name">
                    <li>
                        <a title="Model S" href="/models" class="tds-site-nav-item tds-animate--backdrop tds--product-name"><span class="tds-site-nav-item-text">Model S</span></a>
                    </li>
                    <li>
                        <a title="Model 3" href="/model3" class="tds-site-nav-item tds-animate--backdrop tds--product-name"><span class="tds-site-nav-item-text">Model 3</span></a>
                    </li>
                    <li>
                        <a title="Model X" href="/modelx" class="tds-site-nav-item tds-animate--backdrop tds--product-name"><span class="tds-site-nav-item-text">Model X</span></a>
                    </li>
                    <li>
                        <a title="Model Y" href="/modely" class="tds-site-nav-item tds-animate--backdrop tds--product-name"><span class="tds-site-nav-item-text">Model Y</span></a>
                    </li>
                    <li>
                        <a title="Solar Roof" href="/solarroof" class="tds-site-nav-item tds-animate--backdrop tds--product-name"><span class="tds-site-nav-item-text">Solar Roof</span></a>
                    </li>
                    <li>
                        <a title="Solar Panels" href="/solarpanels" class="tds-site-nav-item tds-animate--backdrop tds--product-name"><span class="tds-site-nav-item-text">Solar Panels</span></a>
                    </li>
                </ol>
                <ol class="tds-site-nav-items tds-align--end tds--product-name">
                    <li>
                        <a title="Shop" href="https://shop.tesla.com" class="tds-site-nav-item tds-animate--backdrop tds--product-name"><span class="tds-site-nav-item-text">Shop</span></a>
                    </li>
                    <li>
                        <a title="Account" href="/teslaaccount" class="tds-site-nav-item tds-animate--backdrop tds--product-name"><span class="tds-site-nav-item-text">Account</span></a>
                    </li>
                    <li>
                        <button type="button" title="Menu" action="secondaryNavigationItems" class="tds-site-nav-item tds-animate--backdrop tds--product-name"><span class="tds-site-nav-item-text">Menu</span></button>
                    </li>
                </ol>
            </header>
            <dialog aria-hidden="true" class="tds-modal tds-modal--sheet-right tds-site-header-modal tds-modal--sheet-small tds-scrim--white">
                <div class="tds-modal-header">
                    <button aria-label="Close Modal" class="tds-modal-close" type="button">
                        <svg class="tds-icon tds-icon-close tds-modal-close-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.53 17.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.748.748 0 0 1-1.06 0 .75.75 0 0 1 0-1.06L10.94 12 5.47 6.53a.75.75 0 1 1 1.06-1.06L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47z"
                                fill="currentColor"
                            ></path>
                        </svg>
                    </button>
                </div>
                <section class="tds-modal-content"></section>
            </dialog>
            <div class="tds-modal-backdrop"></div>
        </div>
    </header>
    
    
    <div id="iso-container">

        <div class="inventory-main-page en_US-i18n">
            <div class="inventory-app-wrapper tds-scrim--white">

                <section class="inventory-header-wrapper sticky-content tds-scrim--white mobile-none">
                    <h1 class="inventory-app-title">Авто в наличии</h1>
                     
                </section>

                <div class="sticky-content basic-grid tds-scrim--white destop-none">
                    <div class="filters-modal-toggle"><button type="button" id="inventory-filters-modal" class="tds-btn tds-btn--light">Filter</button></div>
                     
                </div>
                

                <aside class="inventory-sidebar-wrapper tds-scrim--light destop-none">
                    <form novalidate="">
                        <dialog aria-hidden="true" id="modal" class="tds-modal"  >
                            <div class="tds-modal-header">
                                <button aria-label="Close Modal" class="tds-modal-close" id="modal-close" type="button">
                                    <svg class="tds-icon tds-icon-close tds-modal-close-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M18.53 17.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.748.748 0 0 1-1.06 0 .75.75 0 0 1 0-1.06L10.94 12 5.47 6.53a.75.75 0 1 1 1.06-1.06L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47z"
                                            fill="currentColor"
                                        ></path>
                                    </svg>
                                </button>
                                <h1>Filters</h1>
                            </div>
                            <section class="tds-modal-content">
                                <div class="filter filter-georegions full-width">
                                    <div class="filter filter-zip-code">
                                         
                                    </div>
                                </div>
                                <div class="filter filter-Model half-width">
                                    <fieldset class="tds-fieldset tds-fieldset--choice">
                                        <legend class="tds-legend">Модель</legend>
                                        <div class="tds-form-input-group">
                                            <div class="tds-form-item tds-form-item--choice">
                                                <input class="tds-form-input tds-o-outline" id="ea337d55-e429-460e-97ff-58a93cacac03_ms" type="radio" name="Models" title="Model S" value="ms" />
                                                <div class="tds-form-label-wrap">
                                                    <label class="tds-form-label" for="ea337d55-e429-460e-97ff-58a93cacac03_ms"><span class="tds-form-label-text">Model S</span></label>
                                                </div>
                                            </div>
                                            <div class="tds-form-item tds-form-item--choice">
                                                <input class="tds-form-input tds-o-outline" id="ea337d55-e429-460e-97ff-58a93cacac03_m3" type="radio" name="Models" title="Model 3" value="m3" checked="" />
                                                <div class="tds-form-label-wrap">
                                                    <label class="tds-form-label" for="ea337d55-e429-460e-97ff-58a93cacac03_m3"><span class="tds-form-label-text">Model 3</span></label>
                                                </div>
                                            </div>
                                            <div class="tds-form-item tds-form-item--choice">
                                                <input class="tds-form-input tds-o-outline" id="ea337d55-e429-460e-97ff-58a93cacac03_mx" type="radio" name="Models" title="Model X" value="mx" />
                                                <div class="tds-form-label-wrap">
                                                    <label class="tds-form-label" for="ea337d55-e429-460e-97ff-58a93cacac03_mx"><span class="tds-form-label-text">Model X</span></label>
                                                </div>
                                            </div>
                                            <div class="tds-form-item tds-form-item--choice">
                                                <input class="tds-form-input tds-o-outline" id="ea337d55-e429-460e-97ff-58a93cacac03_my" type="radio" name="Models" title="Model Y" value="my" />
                                                <div class="tds-form-label-wrap">
                                                    <label class="tds-form-label" for="ea337d55-e429-460e-97ff-58a93cacac03_my"><span class="tds-form-label-text">Model Y</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="filter filter-TitleStatus half-width">
                                    <fieldset class="tds-fieldset tds-fieldset--choice">
                                        <legend class="tds-legend">Состояние</legend>
                                        <div class="tds-form-input-group">
                                            <div class="tds-form-item tds-form-item--choice">
                                                <input class="tds-form-input tds-o-outline" id="4dd153b4-6a67-4807-930b-ce0d48fbd767_new" type="radio" name="Состояние" title="New" value="new" />
                                                <div class="tds-form-label-wrap">
                                                    <label class="tds-form-label" for="4dd153b4-6a67-4807-930b-ce0d48fbd767_new"><span class="tds-form-label-text">Новая</span></label>
                                                </div>
                                            </div>
                                            <div class="tds-form-item tds-form-item--choice">
                                                <input class="tds-form-input tds-o-outline" id="4dd153b4-6a67-4807-930b-ce0d48fbd767_used" type="radio" name="Состояние" title="Used" value="used" checked="" />
                                                <div class="tds-form-label-wrap">
                                                    <label class="tds-form-label" for="4dd153b4-6a67-4807-930b-ce0d48fbd767_used"><span class="tds-form-label-text">С пробегом</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                 
                                <div class="filter filter-PAINT full-width">
                                    <fieldset class="tds-fieldset color-fieldset">
                                        <legend class="tds-form-item-label tds-form-legend">Цвет кузова</legend>
                                        <div class="filter-color tds-checkboxes">
                                            <div class="filter-checkbox tds-checkbox">
                                                <input type="checkbox" class="tds-checkbox-input" id="checkbox-PAINT_WHITE" />
                                                <label class="tds-label tds-label--checkbox" for="checkbox-PAINT_WHITE">
                                                    <span class="tds-label-title tds--is_visually_hidden">White</span>
                                                    <svg>
                                                        <image
                                                            xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtWhite@3x.png"
                                                            clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtWhite@3x.png)"
                                                            width="40px"
                                                            height="40px"
                                                            x="5px"
                                                            y="5px"
                                                        ></image>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="filter-checkbox tds-checkbox">
                                                <input type="checkbox" class="tds-checkbox-input" id="checkbox-PAINT_BLACK" />
                                                <label class="tds-label tds-label--checkbox" for="checkbox-PAINT_BLACK">
                                                    <span class="tds-label-title tds--is_visually_hidden">Black</span>
                                                    <svg>
                                                        <image
                                                            xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtBlack@3x.png"
                                                            clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtBlack@3x.png)"
                                                            width="40px"
                                                            height="40px"
                                                            x="5px"
                                                            y="5px"
                                                        ></image>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="filter-checkbox tds-checkbox">
                                                <input type="checkbox" class="tds-checkbox-input" id="checkbox-PAINT_BLUE" />
                                                <label class="tds-label tds-label--checkbox" for="checkbox-PAINT_BLUE">
                                                    <span class="tds-label-title tds--is_visually_hidden">Blue</span>
                                                    <svg>
                                                        <image
                                                            xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtBlue@3x.png"
                                                            clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtBlue@3x.png)"
                                                            width="40px"
                                                            height="40px"
                                                            x="5px"
                                                            y="5px"
                                                        ></image>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="filter-checkbox tds-checkbox">
                                                <input type="checkbox" class="tds-checkbox-input" id="checkbox-PAINT_SILVER" />
                                                <label class="tds-label tds-label--checkbox" for="checkbox-PAINT_SILVER">
                                                    <span class="tds-label-title tds--is_visually_hidden">Silver</span>
                                                    <svg>
                                                        <image
                                                            xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtSilver@3x.png"
                                                            clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtSilver@3x.png)"
                                                            width="40px"
                                                            height="40px"
                                                            x="5px"
                                                            y="5px"
                                                        ></image>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="filter-checkbox tds-checkbox">
                                                <input type="checkbox" class="tds-checkbox-input" id="checkbox-PAINT_RED" />
                                                <label class="tds-label tds-label--checkbox" for="checkbox-PAINT_RED">
                                                    <span class="tds-label-title tds--is_visually_hidden">Red</span>
                                                    <svg>
                                                        <image
                                                            xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtRed@3x.png"
                                                            clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtRed@3x.png)"
                                                            width="40px"
                                                            height="40px"
                                                            x="5px"
                                                            y="5px"
                                                        ></image>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="filter-checkbox tds-checkbox">
                                                <input type="checkbox" class="tds-checkbox-input" id="checkbox-PAINT_GRAY" />
                                                <label class="tds-label tds-label--checkbox" for="checkbox-PAINT_GRAY">
                                                    <span class="tds-label-title tds--is_visually_hidden">Grey</span>
                                                    <svg>
                                                        <image
                                                            xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtGrey@3x.png"
                                                            clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtGrey@3x.png)"
                                                            width="40px"
                                                            height="40px"
                                                            x="5px"
                                                            y="5px"
                                                        ></image>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="filter filter-INTERIOR full-width">
                                    <fieldset class="tds-fieldset color-fieldset">
                                        <legend class="tds-form-item-label tds-form-legend">Цвет салона</legend>
                                        <div class="filter-color tds-checkboxes">
                                            <div class="filter-checkbox tds-checkbox">
                                                <input type="checkbox" class="tds-checkbox-input" id="checkbox-INTERIOR_PREMIUM_BLACK" />
                                                <label class="tds-label tds-label--checkbox" for="checkbox-INTERIOR_PREMIUM_BLACK">
                                                    <span class="tds-label-title tds--is_visually_hidden">Premium Black</span>
                                                    <svg>
                                                        <image
                                                            xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/IntBlack@3x.png"
                                                            clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/IntBlack@3x.png)"
                                                            width="40px"
                                                            height="40px"
                                                            x="5px"
                                                            y="5px"
                                                        ></image>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="filter-checkbox tds-checkbox">
                                                <input type="checkbox" class="tds-checkbox-input" id="checkbox-INTERIOR_PREMIUM_WHITE" />
                                                <label class="tds-label tds-label--checkbox" for="checkbox-INTERIOR_PREMIUM_WHITE">
                                                    <span class="tds-label-title tds--is_visually_hidden">Premium White</span>
                                                    <svg>
                                                        <image
                                                            xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/IntWhite@3x.png"
                                                            clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/IntWhite@3x.png)"
                                                            width="40px"
                                                            height="40px"
                                                            x="5px"
                                                            y="5px"
                                                        ></image>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                
                                 
                                 
                                 
                                 
                            </section>
                        </dialog>
                        <div class="tds-modal-backdrop"></div>
                    </form>
                </aside>
                
                
                <aside class="inventory-sidebar-wrapper tds-scrim--light mobile-none">
                    <form novalidate="">
                        <div class="filters filter-content-wrapper">
                            <div class="accessibility-header tds-o--is_visually_hidden full-width">
                                <h2>Filters</h2>
                                <a id="filters" href="#inventory-results" class="tds-skip-nav">Skip to Results</a>
                            </div>
                            <div class="filter filter-georegions full-width">
                                <div class="filter filter-zip-code">
                                     
                                </div>
                            </div>
                            <div class="filter filter-Model half-width">
                                <fieldset class="tds-fieldset tds-fieldset--choice">
                                    <legend class="tds-legend">Модель</legend>
                                    <div class="tds-form-input-group">
                                        <div class="tds-form-item tds-form-item--choice">
                                            <input class="tds-form-input tds-o-outline" id="0912b25b-11ee-4eb0-ac86-09a72bcf7bc0_ms" type="radio" name="Models" title="Model S" value="ms" checked="" />
                                            <div class="tds-form-label-wrap">
                                                <label class="tds-form-label" for="0912b25b-11ee-4eb0-ac86-09a72bcf7bc0_ms"><span class="tds-form-label-text">Model S</span></label>
                                            </div>
                                        </div>
                                        <div class="tds-form-item tds-form-item--choice">
                                            <input class="tds-form-input tds-o-outline" id="0912b25b-11ee-4eb0-ac86-09a72bcf7bc0_m3" type="radio" name="Models" title="Model 3" value="m3" />
                                            <div class="tds-form-label-wrap">
                                                <label class="tds-form-label" for="0912b25b-11ee-4eb0-ac86-09a72bcf7bc0_m3"><span class="tds-form-label-text">Model 3</span></label>
                                            </div>
                                        </div>
                                        <div class="tds-form-item tds-form-item--choice">
                                            <input class="tds-form-input tds-o-outline" id="0912b25b-11ee-4eb0-ac86-09a72bcf7bc0_mx" type="radio" name="Models" title="Model X" value="mx" />
                                            <div class="tds-form-label-wrap">
                                                <label class="tds-form-label" for="0912b25b-11ee-4eb0-ac86-09a72bcf7bc0_mx"><span class="tds-form-label-text">Model X</span></label>
                                            </div>
                                        </div>
                                        <div class="tds-form-item tds-form-item--choice">
                                            <input class="tds-form-input tds-o-outline" id="0912b25b-11ee-4eb0-ac86-09a72bcf7bc0_my" type="radio" name="Models" title="Model Y" value="my" />
                                            <div class="tds-form-label-wrap">
                                                <label class="tds-form-label" for="0912b25b-11ee-4eb0-ac86-09a72bcf7bc0_my"><span class="tds-form-label-text">Model Y</span></label>
                                            </div>
                                        </div>

                                        <div class="tds-form-item tds-form-item--choice">
                                            <input class="tds-form-input tds-o-outline" id="Cybertruck" type="radio" name="Models" title="Cybertruck" value="my" />
                                            <div class="tds-form-label-wrap">
                                                <label class="tds-form-label" for="Cybertruck"><span class="tds-form-label-text">Cybertruck</span></label>
                                            </div>
                                        </div>
                                        <div class="tds-form-item tds-form-item--choice">
                                            <input class="tds-form-input tds-o-outline" id="Roadster" type="radio" name="Models" title="Roadster" value="my" />
                                            <div class="tds-form-label-wrap">
                                                <label class="tds-form-label" for="Roadster"><span class="tds-form-label-text">Roadster</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="filter filter-TitleStatus half-width">
                                <fieldset class="tds-fieldset tds-fieldset--choice">
                                    <legend class="tds-legend">Состояние</legend>
                                    <div class="tds-form-input-group">
                                        <div class="tds-form-item tds-form-item--choice">
                                            <input class="tds-form-input tds-o-outline" id="e6fdc1c9-680b-4e38-8a97-3b0ee5f7ff9c_new" type="radio" name="Состояние" title="New" value="new" checked="" />
                                            <div class="tds-form-label-wrap">
                                                <label class="tds-form-label" for="e6fdc1c9-680b-4e38-8a97-3b0ee5f7ff9c_new"><span class="tds-form-label-text">Новая</span></label>
                                            </div>
                                        </div>
                                        <div class="tds-form-item tds-form-item--choice">
                                            <input class="tds-form-input tds-o-outline" id="e6fdc1c9-680b-4e38-8a97-3b0ee5f7ff9c_used" type="radio" name="Состояние" title="Used" value="used" />
                                            <div class="tds-form-label-wrap">
                                                <label class="tds-form-label" for="e6fdc1c9-680b-4e38-8a97-3b0ee5f7ff9c_used"><span class="tds-form-label-text">С пробегом</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                             
                            <div class="filter filter-PAINT full-width">
                                <fieldset class="tds-fieldset color-fieldset">
                                    <legend class="tds-form-item-label tds-form-legend">Цвет кузова</legend>
                                    <div class="filter-color tds-checkboxes">
                                        <div class="filter-checkbox tds-checkbox">
                                            <input type="checkbox" class="tds-checkbox-input" id="checkbox-PAINT_WHITE" />
                                            <label class="tds-label tds-label--checkbox" for="checkbox-PAINT_WHITE">
                                                <span class="tds-label-title tds--is_visually_hidden">White</span>
                                                <svg>
                                                    <image
                                                        xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtWhite@3x.png"
                                                        clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtWhite@3x.png)"
                                                        width="40px"
                                                        height="40px"
                                                        x="5px"
                                                        y="5px"
                                                    ></image>
                                                </svg>
                                            </label>
                                        </div>
                                        <div class="filter-checkbox tds-checkbox">
                                            <input type="checkbox" class="tds-checkbox-input" id="checkbox-PAINT_BLACK" />
                                            <label class="tds-label tds-label--checkbox" for="checkbox-PAINT_BLACK">
                                                <span class="tds-label-title tds--is_visually_hidden">Black</span>
                                                <svg>
                                                    <image
                                                        xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtBlack@3x.png"
                                                        clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtBlack@3x.png)"
                                                        width="40px"
                                                        height="40px"
                                                        x="5px"
                                                        y="5px"
                                                    ></image>
                                                </svg>
                                            </label>
                                        </div>
                                        <div class="filter-checkbox tds-checkbox">
                                            <input type="checkbox" class="tds-checkbox-input" id="checkbox-PAINT_BLUE" />
                                            <label class="tds-label tds-label--checkbox" for="checkbox-PAINT_BLUE">
                                                <span class="tds-label-title tds--is_visually_hidden">Blue</span>
                                                <svg>
                                                    <image
                                                        xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtBlue@3x.png"
                                                        clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtBlue@3x.png)"
                                                        width="40px"
                                                        height="40px"
                                                        x="5px"
                                                        y="5px"
                                                    ></image>
                                                </svg>
                                            </label>
                                        </div>
                                        <div class="filter-checkbox tds-checkbox">
                                            <input type="checkbox" class="tds-checkbox-input" id="checkbox-PAINT_SILVER" />
                                            <label class="tds-label tds-label--checkbox" for="checkbox-PAINT_SILVER">
                                                <span class="tds-label-title tds--is_visually_hidden">Silver</span>
                                                <svg>
                                                    <image
                                                        xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtSilver@3x.png"
                                                        clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtSilver@3x.png)"
                                                        width="40px"
                                                        height="40px"
                                                        x="5px"
                                                        y="5px"
                                                    ></image>
                                                </svg>
                                            </label>
                                        </div>
                                        <div class="filter-checkbox tds-checkbox">
                                            <input type="checkbox" class="tds-checkbox-input" id="checkbox-PAINT_RED" />
                                            <label class="tds-label tds-label--checkbox" for="checkbox-PAINT_RED">
                                                <span class="tds-label-title tds--is_visually_hidden">Red</span>
                                                <svg>
                                                    <image
                                                        xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtRed@3x.png"
                                                        clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtRed@3x.png)"
                                                        width="40px"
                                                        height="40px"
                                                        x="5px"
                                                        y="5px"
                                                    ></image>
                                                </svg>
                                            </label>
                                        </div>
                                        <div class="filter-checkbox tds-checkbox">
                                            <input type="checkbox" class="tds-checkbox-input" id="checkbox-PAINT_GRAY" />
                                            <label class="tds-label tds-label--checkbox" for="checkbox-PAINT_GRAY">
                                                <span class="tds-label-title tds--is_visually_hidden">Grey</span>
                                                <svg>
                                                    <image
                                                        xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtGrey@3x.png"
                                                        clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/ExtGrey@3x.png)"
                                                        width="40px"
                                                        height="40px"
                                                        x="5px"
                                                        y="5px"
                                                    ></image>
                                                </svg>
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="filter filter-INTERIOR full-width">
                                <fieldset class="tds-fieldset color-fieldset">
                                    <legend class="tds-form-item-label tds-form-legend">Цвет салона</legend>
                                    <div class="filter-color tds-checkboxes">
                                        <div class="filter-checkbox tds-checkbox">
                                            <input type="checkbox" class="tds-checkbox-input" id="checkbox-INTERIOR_PREMIUM_BLACK" />
                                            <label class="tds-label tds-label--checkbox" for="checkbox-INTERIOR_PREMIUM_BLACK">
                                                <span class="tds-label-title tds--is_visually_hidden">Premium Black</span>
                                                <svg>
                                                    <image
                                                        xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/IntBlack@3x.png"
                                                        clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/IntBlack@3x.png)"
                                                        width="40px"
                                                        height="40px"
                                                        x="5px"
                                                        y="5px"
                                                    ></image>
                                                </svg>
                                            </label>
                                        </div>
                                        <div class="filter-checkbox tds-checkbox">
                                            <input type="checkbox" class="tds-checkbox-input" id="checkbox-INTERIOR_PREMIUM_WHITE" />
                                            <label class="tds-label tds-label--checkbox" for="checkbox-INTERIOR_PREMIUM_WHITE">
                                                <span class="tds-label-title tds--is_visually_hidden">Premium White</span>
                                                <svg>
                                                    <image
                                                        xlink:href="https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/IntWhite@3x.png"
                                                        clip-path="url(#clip_https://www.tesla.com/app-assets-inventory/inventory-search-tool/dist/assets/IntWhite@3x.png)"
                                                        width="40px"
                                                        height="40px"
                                                        x="5px"
                                                        y="5px"
                                                    ></image>
                                                </svg>
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                             
                             
                            
                           
                            
                        </div>
                    </form>
                </aside>
                <main class="inventory-content-wrapper tds-scrim--light">
                    <div class="results-container results-container--grid results-container--has-results">
                         
                         
                        <!-- <article class="result card">
                            <section class="result-header">
                                <div class="result-basic-info">
                                    <h3 class="tds-text--h4"><span>2019</span> <span>Model 3</span></h3>
                                    <div class="tds-text_color--10">Model 3 Standard Range Plus Rear-Wheel Drive</div>
                                    <div class="tds-text--caption">26,297 mile odometer</div>
                                    <div class="tds-text--caption">Carson, CA</div>
                                </div>
                                <div class="result-pricing">
                                    <div class="result-price"><span class="result-purchase-price tds-text--h4">$44,100</span></div>
                                    <div class="result-loan-payment tds-text--headline_color">
                                        $667 /mo
                                        <div class="tds-tooltip-wrapper tds-tooltip-wrapper--inline result-price-tooltip">
                                            <svg class="tds-icon tds-icon--inline tds-icon-info result-price-icon-info" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg" data-tds-tooltip-trigger="true">
                                                <path
                                                    d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zm0 18.5c-4.687 0-8.5-3.813-8.5-8.5S7.313 3.5 12 3.5c4.687 0 8.5 3.813 8.5 8.5s-3.813 8.5-8.5 8.5zm.75-8.75v4.5a.75.75 0 0 1-1.5 0v-4.5a.75.75 0 0 1 1.5 0zM13 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                                                    fill="currentColor"
                                                ></path>
                                            </svg>
                                            <div class="tds-tooltip tds-tooltip--orientation-down tds-tooltip--closed" role="tooltip" style="--tds-tooltip--x-offset: -84.8594px; top: calc(100% + 8px); bottom: auto;">
                                                <div class="financing-tooltip"><span>$4,500 down</span><span>72 mo</span><span>6.49% APR</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tds-text--caption">Est. Transport Fee: $500</div>
                                </div>
                            </section>
                            <section class=" ">
                                <div class=" ">
                                    <div class="slide-inv"  >
                                        <div class="     "  >
                                            <div class="result-image-container">
                                                <div class="fallback-image-container">
                                                     <img src="img/invo/compositor.jfif" alt="">
                                                </div>
                                                 
                                            </div>
                                        </div>
                                        <div class=" "  >
                                            <div class="">
                                                <div class="">
                                                    <img src="img/invo/compositor.jfif" alt="">
                                                </div>
                                                 
                                            </div>
                                        </div>
                                        <div class=" "  >
                                            <div class="">
                                                <div class="">
                                                    <img src="img/invo/compositor.jfif" alt="">
                                                </div>
                                                 
                                            </div>
                                        </div>
                                    </div>
                                    
                                     
                                </div>
                            </section>
                            <section class="result-features"></section>
                            <section class="result-highlights-cta">
                                <div class="result-highlights">
                                    <ul class="highlights-list">
                                        <li>
                                            <div><span class="tds-text--h4">5.3</span> <span>s</span></div>
                                            <div class="tds-text--caption"><span>0-60 mph</span></div>
                                        </li>
                                        <li>
                                            <div><span class="tds-text--h4">140</span> <span>mph</span></div>
                                            <div class="tds-text--caption"><span>Top Speed</span></div>
                                        </li>
                                        <li>
                                            <div><span class="tds-text--h4">240</span> <span>mi</span></div>
                                            <div class="tds-text--caption"><span>range (EPA)</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section class="result-features features-grid">
                                <ul class="result-highlighted-features tds-list tds-list--unordered">
                                    <li class="feature--callout tds-list-item tds-text--caption"><span class="inventory-icon inventory-icon--autopilot"></span>Autopilot</li>
                                    <li class="feature--callout feature--history tds-list-item tds-text--caption"><span class="inventory-icon inventory-icon--history-clean"></span>No Reported Accidents/Damage</li>
                                    <li class="feature--callout feature--connectivity tds-list-item tds-text--caption"><span class="inventory-icon inventory-icon--connectivity"></span>30-Day Premium Connectivity Trial</li>
                                </ul>
                                <ul class="result-regular-features tds-list tds-list--unordered">
                                    <li class="tds-list-item tds-text--caption">Pearl White Paint</li>
                                    <li class="tds-list-item tds-text--caption">18’’ Aero Wheels</li>
                                    <li class="tds-list-item tds-text--caption">Black and White Partial Premium Interior</li>
                                </ul>
                            </section>
                            <section class="result-mobile-cta">
                                <div class="result-cta-btns"><button type="button" tabindex="" class="result-view-details-btn tds-btn tds-btn--secondary">View Details</button></div>
                            </section>
                            <section class="result-disclaimers"></section>
                        </article> -->
                        
                    </div>
                </main>
            </div>
            <div class="tds-container footer-container">
                <footer class="tds-site-footer">
                    <nav class="tds-footer-nav">
                        <ul class="tds-list tds-list--horizontal tds-footer-meta">
                            <li class="tds-footer-item"><a href="/about" class="tds-link tds-link--secondary">Tesla © 2022</a></li>
                            <li class="tds-footer-item"><a href="/about/legal" class="tds-link tds-link--secondary">Privacy &amp; Legal</a></li>
                        </ul>
                    </nav>
                </footer>
            </div>
            <div aria-hidden="true" aria-label="Loading" class="tds-loader tds-loader--show">
                <svg class="tds-icon tds-icon-loader" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 1a2.347 2.347 0 1 1 0 4.694 18.306 18.306 0 1 0 13.359 5.792 2.347 2.347 0 1 1 3.426-3.21A23 23 0 1 1 24 1Z" fill="currentColor"></path>
                </svg>
                <svg class="tds-icon tds-icon-logo" viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg">
                    <g fill="currentColor" transform="translate(30 30)">
                        <path d="M50 99.8l14-78.7c13.3 0 17.5 1.5 18.1 7.4 0 0 8.9-3.3 13.5-10.1C78 10.3 60.3 9.9 60.3 9.9L50 22.5 39.7 9.9s-17.7.4-35.3 8.5c4.5 6.8 13.5 10.1 13.5 10.1.6-6 4.8-7.4 18.1-7.4l14 78.7z"></path>
                        <path d="M50 6.3c14.2-.1 30.5 2.2 47.2 9.5 2.2-4 2.8-5.8 2.8-5.8C81.8 2.7 64.7.3 50 .2 35.3.3 18.2 2.7 0 10c0 0 .8 2.2 2.8 5.8 16.7-7.3 33-9.6 47.2-9.5z"></path>
                    </g>
                </svg>
            </div>
            <button type="button" class="back-to-top-arrow" aria-label="Back to Top"><i class="tds-icon tds-icon-chevron_up tds-icon--medium" aria-hidden="true"></i></button>
        </div>
        

    </div>

    

        
     
               
    

 
 <script src="js/inventory/inventory1.js"></script> 
 <script src="js/script3.js"></script>
 <script src="js/inventory/inventory3.js"></script> 

 <!-- <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script> -->
 <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
 <script type="text/javascript" src="js/inventory/slick.js"></script>
 <script src="js/inventory/inventoryD.js"></script>
  <script src="js/inventory/inventory_app.js"></script> 

            </body>
</html