<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доставка</title>
    <link rel="stylesheet" href="css/kargo.css?=12">
    <link rel="stylesheet" href="fonts/font/stylesheet.css">
    <link rel="stylesheet" href="css/media.css?=12">
    <link type="image/x-icon" rel="shortcut icon" href="img/fav/favicon.ico">
</head>

<body>
    <div class="wrapper" id="wrapper">
        <main class="main">
            <section class="intro" id="intro">
                <div class="shadow-full"></div>
                <div class="align">
                    <div class="intro__text">
                        <h1>Доставка Tesla <br> под заказ</h1>
                        <p>Привезём новую <br> Tesla из Германии без предоплаты за 30 дней</p>
                        <a href="">Заказать авто</a>
                    </div>
                </div>

            </section>
            <section class="arrowarea">
                <a class="anchor" href="#video"><img src="img/arrow.svg" alt=""></a>
                <img class="brand" src="img/teslaText.svg" alt="">
            </section>
            <scetion class="presentationVideo" id="video">

                <video id="video" poster="img/poster.png" class="" preload="auto" playsinline=""
                    data-autoplay-desktop="true" data-autoplay-portrait="true" data-autoplay-mobile="true"
                    data-play-on-hover="false" loop="" data-object-fit="true" src="video/dostavka.mp4"
                    data-loaded="true" autoplay="" controls></video>
            </scetion>
            <section class="cards">
                <div class="cards-wrapper">
                    <h2 class="cards__title">Как работает <br>
                        процесс доставки</h2>
                    <div class="cards__items">
                        <div class="cards__item">
                            <img src="img/card1.jpg" alt="">
                            <div class="cards__text">
                                <h3>Согласование условий</h3>
                                <p class="one">Подбираем автомобиль, заключаем договор. Работаем <br> строго официально,
                                    обеспечивая максимальную <br> безопасность сделки. </p>
                            </div>
                        </div>
                        <div class="cards__item ">
                            <img src="img/card3.jpg" alt="">
                            <div class="cards__text">
                                <h3>Логистика</h3>
                                <p class="three">В зависимости от модели и запроса, организуем доставку <br> тесла из
                                    Европы,
                                    США или Китая. Закрепляем за Вами <br> персонального менеджера который информирует о
                                    каждом <br> из логистических этапов. </p>
                            </div>
                        </div>
                        <div class="cards__item reverse">
                            <img src="img/card2.jpg" alt="">
                            <div class="cards__text">
                                <h3>Таможенная очистка</h3>
                                <p class="two">Все автомобили проходят таможенную очистку в Республике <br> Беларусь
                                    согласно
                                    регламенту таможенного союза по <br> полной ставке. Мы не используем никакие
                                    льготные
                                    схемы, <br> которые в будущем могут доставить неприятности. </p>
                            </div>
                        </div>

                        <div class="cards__item reverse">
                            <img src="img/card4.jpg" alt="">
                            <div class="cards__text">
                                <h3>Выдача автомобиля</h3>
                                <p>Для нас важно, чтобы клиент оставался довольным. Ведь <br> счастливый клиент, это
                                    счастливое будущее нашей <br> компании.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
            <div class="whiteBg">
                <section class="whiteSpace">
                    <h2 id="replace">Получите бесплатную <br>
                        консультацию</h2>
                    <a href="">Записаться</a>
                </section>
            </div>

            <section class="buyCar">
                <img class="buyCar__presentation" src="img/buyCar.webp" alt="">
                <div class="buyCar__data">
                    <h2>Заказ авто</h2>
                    <p>Доставка авто за 30 дней. <br>
                        Выберите модель и модификацию и получите персональное предложение.</p>
                    <div class="table">
                        <div class="table__head line-width"><b>Модель</b>
                            <div class="table__items"><span>Модификация</span></div>
                        </div>
                        <div class="table__body line-width"><b>Model S</b>
                            <div class="table__items"><a href="">Long Range</a><a href="">Plaid</a></div>
                        </div>
                        <div class="table__body line-width"><b>Model X</b>
                            <div class="table__items"><a href="">Long Range</a><a href="">Plaid</a></div>
                        </div>
                        <div class="table__body line-width"><b>Model Y</b>
                            <div class="table__items"><a href="">Long Range</a><a href="">Perfomance</a></div>
                        </div>
                        <div class="table__body line-width"><b>Model 3</b>
                            <div class="table__items"><a href="">Long Range</a><a href="">Perfomance</a></div>
                        </div>
                    </div>
                    <a href="" class="btn">Получить предложение</a>
                </div>
            </section>
            <section class="formSection">

                <h2 class="hidden">Тест-драйв в Москве</h2>
                <p class="subtitle">Model Y Perfomance</p>
                <img class="formSection__bg mm" src="img/carbg.png" alt="">
                <div class="formSection__char-mob">
                    <h2>Остались вопросы?
                        Свяжемся с вами
                        за 25 секунд</h2>
                    <p>Оставить заявку</p>
                </div>
                <div class="formSection__char mm">
                    <div class="formSection__char-item">
                        <span>534 л.с.</span>
                        <p>Максимальная мощность</p>
                    </div>
                    <div class="formSection__char-item">
                        <span>514 км</span>
                        <p>Запас хода</p>
                    </div>
                    <div class="formSection__char-item">
                        <span>3.7 сек</span>
                        <p>0-100 км/ч</p>
                    </div>
                </div>


                <form action="">
                    <input class="input" type="text" placeholder="Имя">
                    <input type="tel" name="" class="input tel" placeholder="+7 999 999 99 99">
                    <input class="input" type="email" name="" id="" placeholder="e-mail">
                    <button type="submit">Записаться</button>
                    <div class="check">
                        <input type="checkbox" name="" id="check">
                        <label for="check">Оставляя свои данные вы соглашаетесь <br> <a href="">с политикой
                                конфиденциальности</a></label>
                    </div>

                </form>
            </section>
            <scetion class="insta">
                <img src="img/insta.png" alt="">
                <div class="text">
                    <h2>Instagram</h2>
                    <p>Каждый день мы наполняем аккаунт интересным контентом для того, чтобы Вам нравилось</p>
                    <a href="" class="btn">Перейти в instagram</a>
                </div>

            </scetion>
            <section class="contacts">
                <div class="contacts__left">
                    <h2>Контакты</h2>
                    <div class="contacts__places">
                        <div id="s1" class="contacts__places-item" onclick="showMoscow()">
                            <b>Автосалон</b>
                            <span>Москва</span>
                            <p>Москва, ул. Антонова-Овсеенко, 15, стр. 4</p>
                            <div class="phones">
                                <a href="tel:79014280000">+7 (901) 428-00-00 </a>
                                <a href="tel:79054280000">+7 (905) 428-00-00</a>
                            </div>
                        </div>
                        <div class="contacts__places-line"></div>
                        <div id="s2" class="contacts__places-item opacity" onclick="showMinsk()">
                            <b>Автосалон</b>
                            <span>Минск</span>
                            <p>Минск, ул. Аранская,
                                8, офис 102</p>
                            <div class="phones">
                                <a href="tel:375333323469">+375 (33) 332-34-69 </a>
                                <a href="tel:375296550000">+375 (29) 655-00-00</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contacts__right">
                    <img id="v1" class="active" src="img/map.png" alt="">
                    <img id="v2" src="img/minsk.png" alt="">
                </div>

            </section>
        </main>
        <footer class="footer">
            <a href="/" class="logo">
                <img src="img/logo.svg" alt="">
            </a>
            <ul>

                <li><a href="">Model S</a></li>
                <li><a href="">Model 3</a></li>
                <li><a href="">Model X</a></li>
                <li><a href="">Model Y</a></li>
                <li><a href="">Каталог авто</a></li>
                <li><a href="">О нас</a></li>

            </ul>
            <a class="anchor" href="#intro"><img src="img/arrow.svg" alt=""></a>
        </footer>
        <!-- <div class="posf">

            <input id="input" type="number">



        </div> -->
    </div>
    <script src="https://unpkg.com/intersection-observer@0.7.0/intersection-observer.js"></script>
    <script>
        const anchors = document.getElementsByClassName('anchor')
        for (let anchor of anchors) {
            anchor.addEventListener('click', function (e) {
                e.preventDefault()

                const blockID = anchor.getAttribute('href').substr(1)

                document.getElementById(blockID).scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                })
            })
        }
    </script>
    <script>
        // const observer = new IntersectionObserver((entries) => {
        //     entries.forEach((entry) => {
        //         const video = entry.target;
        //         if (entry.isIntersecting) {
        //             video.play();
        //         } else {
        //             video.currentTime = 0;
        //             video.pause();
        //         }
        //     });
        // });

        // const videoElement = document.getElementById("video");
        // observer.observe(videoElement);


        function handleIntersection(entries, observer) {
            entries.forEach(entry => {
                // Если видео видимо на экране
                if (entry.isIntersecting) {
                    // Здесь можно вызвать функцию для плавного появления видео
                    entry.target.classList.add('visible');
                } else {
                    // Здесь можно вызвать функцию для перезапуска видео
                    entry.target.currentTime = 0;

                    entry.target.classList.remove('visible');
                }
            });
        }

        // // Создаем новый экземпляр наблюдателя с функцией обратного вызова
        // const observer = new IntersectionObserver(handleIntersection);

        // // Получаем все видео на странице
        // const videos = document.querySelectorAll('video');

        // // Наблюдаем за каждым видео
        // videos.forEach(video => {
        //     observer.observe(video);
        // });
    </script>

    <script>
        window.addEventListener("DOMContentLoaded", function () {
            [].forEach.call(document.querySelectorAll('.tel'), function (input) {
                var keyCode;
                function mask(event) {
                    event.keyCode && (keyCode = event.keyCode);
                    var pos = this.selectionStart;
                    if (pos < 3) event.preventDefault();
                    var matrix = "+7 (___) ___ __-__",
                        i = 0,
                        def = matrix.replace(/\D/g, ""),
                        val = this.value.replace(/\D/g, ""),
                        new_value = matrix.replace(/[_\d]/g, function (a) {
                            return i < val.length ? val.charAt(i++) || def.charAt(i) : a
                        });
                    i = new_value.indexOf("_");
                    if (i != -1) {
                        i < 5 && (i = 3);
                        new_value = new_value.slice(0, i)
                    }
                    var reg = matrix.substr(0, this.value.length).replace(/_+/g,
                        function (a) {
                            return "\\d{1," + a.length + "}"
                        }).replace(/[+()]/g, "\\$&");
                    reg = new RegExp("^" + reg + "$");
                    if (!reg.test(this.value) || this.value.length < 5 || keyCode > 47 && keyCode < 58) this.value = new_value;
                    if (event.type == "blur" && this.value.length < 5) this.value = ""
                }

                input.addEventListener("input", mask, false);
                input.addEventListener("focus", mask, false);
                input.addEventListener("blur", mask, false);
                input.addEventListener("keydown", mask, false)

            });

        });

    </script>
    <script>
        if (window.innerWidth < 800) {
            document.getElementById("replace").innerHTML = "Запишитесь <br> на бесплатный <br> тест-драйв";
        }
    </script>
    <script>
        const wrapper = document.getElementById('wrapper');

        // Получаем элемент input по его id
        const input = document.getElementById('input');

        // Добавляем обработчик события input на элемент input
        input.addEventListener('input', () => {
            // Получаем значение из input и преобразуем его в число
            const value = parseFloat(input.value);

            // Проверяем, что значение находится в диапазоне от 0 до 1
            if (!isNaN(value) && value >= 0.5 && value <= 2) {
                // Устанавливаем значение свойства zoom для элемента обертки
                wrapper.style.zoom = value;
            }
        });
    </script>
    <script>
        function showMoscow() {
            document.getElementById('v1').classList.add('active');
            document.getElementById('v2').classList.remove('active');
            document.getElementById('s2').classList.add('opacity');
            document.getElementById('s1').classList.remove('opacity');
        }
        function showMinsk() {
            document.getElementById('v2').classList.add('active');
            document.getElementById('v1').classList.remove('active');
            document.getElementById('s1').classList.add('opacity');
            document.getElementById('s2').classList.remove('opacity');
        }

    </script>
    <script>
        if (navigator.userAgent.indexOf("Mac OS X") !== -1) {
            var cssFile = document.createElement("link");
            cssFile.setAttribute("rel", "stylesheet");
            cssFile.setAttribute("type", "text/css");
            cssFile.setAttribute("href", "css/mac-os.css");
            document.head.appendChild(cssFile);
        }
    </script>
</body>

</html>